{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <form method="POST" action="{{ path('create_user') }}">
        <input name="first_name" class="firstname" type="text" placeholder="first_name">
        <input name="last_name" class="lastname" type="text" placeholder="last_name">
        <input name="age" class="age" type="text" placeholder="age">
        <input name="status" class="status" type="text" placeholder="status">
        <input name="telegram" class="telegram" type="text" placeholder="telegram">
        <input name="email" class="email" type="text" placeholder="email">
        <input name="address" class="address" type="text" placeholder="address">
        <input type="submit">
    </form>
{% endblock %}
